<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
</head>
<body>
<h1 class="title">Список проектов</h1>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 main">

        {% if projects %}
            {% for p in projects %}
                <a class="one-project" href="{% url 'project' p.id %}">
                    <h3>{{ p.title }}</h3>
                </a><br>
            {% endfor %}
        {% else %}
            <h3>Не найдено ни одного проекта!</h3>
        {% endif %}

        </div>
        <div class="col-4"></div>
    </div>
</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>