<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 main" style="text-align: center; padding-top: 300px">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Регистрация</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>

</body>
</html>